.main_title {
    padding: 20px 0;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: var(--white);
}

.head {
    padding: 10px 0;
    display: flex;
    gap: 5px;
}

.head_item {
    width: 240px;
    font-size: 1.5em;
    background-color: var(--white);
    text-align: center;
    color: var(--darkpurple);
    font-weight: 700;
}

.head_item:first-child {
    border-radius: 5px 0 0 5px;
}

.head_item:last-child {
    border-radius: 0 5px 5px 0;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.navigation_items{
    display: flex;
    align-items: center;
    gap: 10px;
}
@media screen and (max-width: 1024px){
    .navigation_items{
        flex-direction: column;
    }
}
.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg) scale(1.3);
    }
}