.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
}

.navigation_items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
}
@media screen and (max-width: 1024px){
    .navigation_items{
        flex-direction: column;
    }
}
.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

