.container{
    position: relative;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--darkpurple);
    min-height: 100vh;
}