.header_title {
    padding: 20px 0;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: var(--white);
}

.head {
    padding: 10px 0;
    display: flex;
    gap: 5px;
}

.head_item {
    width: 240px;
    font-size: 1.5em;
    background-color: var(--white);
    text-align: center;
    color: var(--darkpurple);
    font-weight: 700;
}

.head_item:first-child {
    border-radius: 5px 0 0 5px;
}

.head_item:last-child {
    border-radius: 0 5px 5px 0;
}